<div class="eu-cookie-compliance-banner eu-cookie-compliance-banner-info xxx">
  <div class ="popup-content info eu-cookie-compliance-content">
    <div id="popup-text" class="eu-cookie-compliance-message">
      {{ message }}
    </div>
    <div id="popup-buttons" class="eu-cookie-compliance-buttons">
      <button type="button" class="{{ primary_button_class }}">{{ agree_button }}</button>
      {% if disagree_button %}
        <button type="button" class="find-more-button eu-cookie-compliance-more-button">{{ disagree_button }}</button>
      {% endif %}
      {% if secondary_button_label %}
        <button type="button" class="{{ secondary_button_class }}" >{{ secondary_button_label }}</button>
      {% endif %}
    </div>
  </div>
</div>
