{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="grid-container">
      <div class="grid-x align-middle">
        {% block content %}
          {% if content.field_title %}
          <div class="cell text-center">
            {{ content.field_title }}
          </div>
          {% endif %}
          <div class="cell medium-6 paragraph__first_col">
            {{ content|without('field_title', 'field_text_right') }}
          </div>
          <div class="cell medium-6 paragraph__second_col">
            {{ content.field_text_right }}
          </div>
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock paragraph %}
