{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'text-center',
    'section-big',
    'grid-x',
    'align-center',
  ]
%}
{% block paragraph %}
  <div class="grid-container">
    <div{{ attributes.addClass(classes) }}>
      <div class="cell small-12 large-8">
        {% block content %}
          <div class="paragraph__content">
            {{ content }}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
