{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'paragraph--media',
  'grid-x',
  'align-middle',
]
%}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="cell medium-6 large-4 large-offset-1 content-col small-order-1 medium-order-2">
      {{ content|without('field_media') }}
    </div>
    <div class="cell medium-6 media-col small-order-2 medium-order-1">
      {{ content.field_media }}
    </div>
  </section>
{% endblock paragraph %}
