<article{{ attributes.addClass(['grid-x', 'node', 'node--news', 'node--news--full']) }}>
  <div{{ content_attributes.addClass(['cell', 'small-12']) }}>
    <div class="news__main-content">
      <div class="news__image">
        {{ content.field_media_image }}
      </div>
      {{ title_prefix }}
      {{ title_suffix }}
      {{ content|without('field_media_gallery', 'field_media_image') }}
      {% if overview_url %}
        <div class="news__backlink text-right">
          <a href="{{ overview_url }}">{{ 'News overview'|trans }}</a>
        </div>
      {% endif %}
    </div>
    {% if content.field_media_gallery %}
      {{ content.field_media_gallery }}
    {% endif %}
  </div>
</article>
