{%
  set classes = [
    'node',
    'node--flex-page',
    'node--flex-page--full',
    has_body ? 'has-body',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="grid-container">
    <div class="grid-x align-center">
      <div{{ content_attributes.addClass(['cell', 'small-12', 'large-8']) }}>
        {{ title_prefix }}
        {{ title_suffix }}
        {% if has_body %}
          <div class="content--node content--padding-bottom">
            {{ content|without('field_paragraphs') }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% if content.field_paragraphs %}
  {{ content.field_paragraphs }}
{% endif %}
