<article{{ attributes.addClass(['node--news', 'node--news--teaser']) }} data-equalizer-watch="news-overview">
  {% if content.field_media_image %}
  <div class="news__image">
    {{ content.field_media_image }}
  </div>
  {% endif %}
  <div class="news__title-wrapper">
    {{ title_prefix }}
    <h3{{ title_attributes.addClass('news__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
    {{ title_suffix }}
    <footer{{ author_attributes.addClass('news__created') }}>
      {% trans %}Created on {{ created }}{% endtrans %}
      {{ metadata }}
    </footer>
  </div>
  <div{{ content_attributes.addClass('news__content') }}>
    {{ content|without('field_media_image') }}
  </div>
  <div class="news__readmore">
    <a href="{{ url }}" rel="bookmark"><span class="icon-cn"><i class="far fa-angle-right fa-lg"></i></span> {{ 'read more...'|trans }}</a>
  </div>
</article>
