<article{{ attributes.addClass(['node--reference', 'node--reference--teaser']) }} data-equalizer-watch="reference-overview">
  {% if content.field_media_image %}
  <div class="reference__image">
    {{ content.field_media_image }}
  </div>
  {% endif %}
  {{ title_prefix }}
  <h3{{ title_attributes.addClass('reference__title') }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h3>
  {{ title_suffix }}
  <div{{ content_attributes.addClass('reference__content') }}>
    {{ content|without('field_media_image') }}
  </div>
  <div class="reference__readmore">
    <a href="{{ url }}" rel="bookmark"><span class="icon-cn"><i class="far fa-angle-right fa-lg"></i></span> {{ 'read more...'|trans }}</a>
  </div>
</article>
