{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'grid-x',
'grid-padding-x',
]
%}
<div class="grid-container">
  <div{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {{ title_suffix }}

    <div{{ content_attributes.addClass('small-12', 'large-12', 'cell') }}>
      {{ content.body }}
    </div>

    <div class="small-12 large-6 cell section-small top">
      {{ content.locations }}
    </div>

    <div class="small-12 large-6 cell section-small top">
      {{ content.form }}
    </div>
  </div>
</div>
