<article{{ attributes.addClass(['grid-x', 'node', 'node--reference', 'node--reference--full']) }}>
  <div{{ content_attributes.addClass(['small-12', 'cell']) }}>
    <div class="reference__main-content">
      <div class="reference__image">
        {{ content.field_media_image }}
      </div>
      {{ title_prefix }}
      {{ title_suffix }}
      {{ content|without('field_media_gallery', 'field_media_image') }}
      {% if overview_url %}
        <div class="reference__backlink text-right">
          <a href="{{ overview_url }}">{{ 'References overview'|trans }}</a>
        </div>
      {% endif %}
    </div>
    {% if content.field_media_gallery %}
      {{ content.field_media_gallery }}
    {% endif %}
  </div>
</article>
