<article{{ attributes.addClass(['node--news', 'node--news--widget']) }}>
  {% if content.field_media_image %}
  <div class="news__image">
    {{ content.field_media_image }}
  </div>
  {% endif %}
  <div class="news__title-cn">
    {{ title_prefix }}
    <h4{{ title_attributes.addClass('news__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>
    {{ title_suffix }}
    <footer{{ author_attributes.addClass('news__created') }}>
      {% trans %}Created on {{ created }}{% endtrans %}
      {{ metadata }}
    </footer>
  </div>
</article>
