<div{{ attributes.addClass(['enquiry-page', 'grid-x', 'grid-padding-x']) }}>
  <div class="cell medium-8">
    <div class="chosen-trailer">
      {{ trailer_pre_header }}
      {{ trailer }}
    </div>
    <div class="chosen-accessory">
      {{ accessories_pre_header }}
      {{ accessories }}
    </div>
  </div>
  <div class="cell medium-4">
    {{ enquiry }}
  </div>
</div>
