{#
/**
 * @file
 * Theme implementation of the 'finder_result' theme hook.
 *
 * @see template_preprocess_finder_result()
 */
#}
{% if items %}
  <div class="finder-result">
    {% for item in items %}
      <div class="finder-result__item trailer trailer--teaser">
        <div class="grid-x grid-padding-x">
          <div class="cell small-12">
            <h2 class="trailer__title h3">{% if item.model %}{{ item.model }}<br/>{% endif %}{{ item.title }}</h2>
          </div>
          <div class="cell small-12 medium-5 image-column">
            {% if item.image %}
              <div class="trailer__image">
                {% if item.url %}
                <a href="{{ item.url }}">
                  {% endif %}
                  <img src="{{ item.image }}" alt="{{ item.title }}"/>
                  {% if item.url %}
                </a>
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="cell small-12 medium-7 facts-column">
            <div class="grid-x grid-padding-x">
              <div class="cell small-12 medium-4">
                {% if item.total_weight %}
                  <div class="trailer__weight field field--label-inline">
                    <div class="field__label">Gesamtgewicht</div>
                    <div class="field__item">{{ item.total_weight }}</div>
                  </div>
                {% endif %}
              </div>
              <div class="cell small-12 medium-8">
                {% if item.internal_dimensions %}
                  <div class="trailer__dimensions field field--label-inline">
                    <div class="field__label">Aufbaumaße innen</div>
                    <div class="field__item">{{ item.internal_dimensions }}</div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="grid-x grid-padding-x align-middle buttons-row">
          <div class="cell medium-7 large-9 show-for-medium"><hr class="trailer__link__deco"/></div>
          <div class="cell small-12 medium-5 large-3 text-right">
            {% if item.url %}
              <div class="trailer__link"><a href="{{ item.url }}" class="button button--readmore">zum Anhänger</a></div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Es konnte kein Ergebnis zu den von Ihnen gewählten Filterkriterien gefunden werden.</p>
{% endif %}
