{%
  set classes = [
  'remote-trailer-page-title',
  image ? 'remote-trailer-page-title--with-image' : 'remote-trailer-page-title--without-image',
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="grid-container">
    <div class="grid-x grid-padding-x content-cn">
      <div class="cell small-12 medium-8 medium-offset-4 align-self-bottom">
        <h1 class="title title--trailer">{{ title }}{% if sub_title %} <small>Modell: {{ sub_title }}</small>{% endif %}</h1>
        {% if image %}
          <div class="remote-trailer-page-title__image"><img src="{{ image.url }}" alt="{{ title }}" width="{{ image.width }}" height="{{ image.height }}"/></div>
        {% endif %}
        {% if facts %}
          <div class="remote-trailer-page-title__facts grid-x grid-padding-x small-up-1 medium-up-2 large-up-4">
            {% for fact in facts %}
              <div class="remote-trailer-page-title__facts__fact field cell">
                <div class="field__label">{{ fact.label }}</div>
                <div class="field__item">{{ fact.value }}</div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
