{#
/**
 * @file
 * Theme implementation of the 'remote_trailer' theme hook.
 *
 * @see template_preprocess_remote_trailer()
 */
#}
<article{{ attributes.addClass(['remote-trailer', 'remote-trailer--full']) }}>
  {{ title_prefix }}
  {% if show_title %}
  <h2 class="remote-trailer__title">{{ title }}{% if sub_title %} <small>Modell: {{ sub_title }}</small>{% endif %}</h2>
  {% endif %}
  {{ title_suffix }}
  {% if show_facts and facts %}
    <div class="remote-trailer__facts">
      {% for fact in facts %}
        <div class="remote-trailer__facts__fact field">
          <div class="field__label">{{ fact.label }}</div>
          <div class="field__item">{{ fact.value }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if tabs %}
    <div class="remote-trailer__details accordion accordion--trailer" data-accordion data-allow-all-closed="true">
      {% for tab in tabs %}
        <div class="remote-trailer__details__field field accordion-item{% if loop.first %} is-active{% endif %}" data-accordion-item>
          <a href="#" class="accordion-title">{{ tab.label }}<span class="accordion-toggle"><i class="far fa-chevron-down icon"></i></span></a>
          <div class="accordion-content" data-tab-content>
            {{ tab.value }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</article>
