{#
/**
 * @file
 * Theme implementation of the 'remote_videos' theme hook.
 *
 * @see template_preprocess_remote_videos()
 */
#}
{{ attach_library('lite_youtube_embed/lite_youtube_embed') }}
<div{{ attributes.addClass('remote-videos') }}>
  {% for item in items %}
    {% if item.youtube_id %}
      <lite-youtube videoid="{{ item.youtube_id }}"></lite-youtube>
    {% else %}
      <div class="responsive-video"><iframe width="640" height="360" src="{{ item.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    {% endif %}
  {% endfor %}
</div>
