{#
/**
 * @file
 * Theme implementation of the 'remote_trailer_summary' theme hook.
 *
 * @see template_preprocess_remote_trailer_summary()
 */
#}
<article{{ attributes.addClass(['remote-trailer', 'remote-trailer--summary']) }}>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      {{ title_prefix }}
      {% if show_title %}
        <h3 class="remote-trailer__title">{{ title }}</h3>
      {% endif %}
      {{ title_suffix }}
    </div>
    <div class="cell small-12 medium-5 image-column">
      {% if image %}
        <div class="remote-trailer__image">
          <img src="{{ image.url }}" alt="{{ title }}" width="{{ image.width }}" height="{{ image.height }}"/>
        </div>
      {% endif %}
    </div>
    <div class="cell small-12 medium-7 facts-column">
      {% if facts %}
        <div class="remote-trailer__facts grid-x grid-padding-x">
          {% for fact in facts %}
            <div class="remote-trailer__facts__fact field cell small-12 {% if loop.first %}medium-4{% else %}medium-8{% endif %}">
              <div class="field__label">{{ fact.label }}</div>
              <div class="field__item">{{ fact.value }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="grid-x grid-padding-x align-middle buttons-row">
    <div class="medium-7 large-9 columns show-for-medium"><hr class="trailer__link__deco"/></div>
    <div class="small-12 medium-5 large-3 columns text-right"><a href="{{ url }}" rel="bookmark">zum Anhänger</a></div>
  </div>
</article>
