{#
/**
 * @file
 * Theme implementation of the 'remote_gallery' theme hook.
 *
 * @see template_preprocess_remote_gallery()
 */
#}
<div{{ attributes.addClass('remote-gallery') }}>
  {% if items|length > 1 %}
    <div{{ attributes.addClass('grid-x', 'small-up-1', 'medium-up-2', 'large-up-3', 'image-gallery') }}>
      {% for item in items %}
        {% if item.main %}
          <div class="cell image-gallery__item">
            {% if item.thumbnail %}
              <a href="{{ item.main.url }}" class="photoswipe" data-size="{{ item.main.width ?: 800 }}x{{ item.main.height ?: 566 }}"><img src="{{ item.thumbnail.url }}" alt=""/></a>
            {% else %}
              <img src="{{ item.main.url }}" alt=""/>
            {% endif %}
          </div>
          {% endif %}
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      {% if item.main %}
        {% if item.thumbnail %}
          <a href="{{ item.main.url }}" class="photoswipe" data-size="{{ item.main.width ?: 800 }}x{{ item.main.height ?: 566 }}"><img src="{{ item.thumbnail.url }}" alt=""/></a>
        {% else %}
          <img src="{{ item.main.url }}" alt=""/>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
