{#
/**
 * @file banner_slider.html.twig
 * Default theme implementation to present a banner slider.
 *
 * @see template_preprocess_banner_slider()
 *
 * @ingroup themeable
 */
#}
{% if items|length > 1 %}
  <div{{ attributes.addClass(['slideshow', 'swiper-container', 'swiper-container--banner']) }}>
    <div class="swiper-wrapper">
      {% for key, item in items %}
        <div{{ item_attributes[key].addClass('slideshow__item', 'background-cover', 'swiper-slide') }}>
          <div class="grid-container">
            <div class="slideshow__item__content grid-x align-middle">
              <div class="small-12 cell">
                {{ item }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% else %}
  <div{{ attributes.addClass(['slideshow']) }}>
    {% for key, item in items %}
      <div{{ item_attributes[key].addClass('slideshow__item', 'background-cover') }}>
        <div class="grid-container">
          <div class="slideshow__item__content grid-x align-middle">
            <div class="small-12 cell">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
