<footer id="page-footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12 medium-4 large-4">
        {{ page.footer_left }}
        {% if social_links %}
          <div class="social-links">{{ social_links }}</div>
        {% endif %}
      </div>
      <div class="cell small-12 medium-4 large-4">
        {{ page.footer_center }}
        {% if opening_hours %}
          <div class="block block--opening-hours">
            <h2>{{ 'Opening hours'|t }}</h2>
            {{ opening_hours }}
          </div>
        {% endif %}
      </div>
      <div class="cell small-12 medium-4 large-4">
        {{ page.footer_right }}
      </div>
    </div>
  </div>
</footer>
<button data-scroll-top='{"revealPosition": 100, "scrollStop": 160}'>{{ icon('chevron-up') }}</button>
