<header id="page-header" class="page-header" data-headroom>
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="logo cell small-10 large-2">
        {{ page.logo }}
      </div>
      <div class="cell large-10 show-for-large align-self-bottom">
        {% apply spaceless %}{{ page.primary_menu }}{% endapply %}
      </div>
      <div class="cell small-2 hide-for-large text-right">
        <button type="button" class="offcanvas-button burger" data-toggle="off-canvas"><span></span></button>
      </div>
    </div>
  </div>
</header>
