{% if page.help or page.info_panel %}
  <aside id="page-info" class="grid-container">
    <div class="grid-x grid-padding-x">
      {% if page.help %}
        <div class="cell small-12">
          {{ page.help }}
        </div>
      {% endif %}
      {% if page.info_panel %}
        <div class="cell small-12">
          {{ page.info_panel }}
        </div>
      {% endif %}
    </div>
  </aside>
{% endif %}
