{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'dropdown', 'align-right') }} data-dropdown-menu>
    {% else %}
      <ul class="submenu menu vertical" data-submenu>
    {% endif %}
    {% for item in items %}
      {% set visibility = item.attributes['data-visibility'] ? item.attributes['data-visibility'].__toString():'0' %}
      {% if visibility != 1 %}
        {% if item.below and item.megamenu is empty %}
          <li{{ item.attributes.addClass('has-submenu') }}>
        {% else %}
          <li{{ item.attributes }}>
        {% endif %}
        {% if item.megamenu %}
          <a data-toggle="megamenu" href="{{ item.url }}" class="megamenu-toggle">{{ item.title }}</a>
          <div class="dropdown-pane bottom" id="megamenu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:14">
            {{ item.megamenu }}
          </div>
        {% else %}
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}