{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass('menu', 'simple', 'align-right') }}>
    {% for item in items %}
      {% set visibility = item.attributes['data-visibility'] ? item.attributes['data-visibility'].__toString():'0' %}
      {% if visibility != 1 %}
        <li{{ item.attributes }}>
          {{ link(item.title, item.url) }}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}