{#
/**
 * @file
 *
 * Default trailer template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - content: The rendered trailer fields.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass(['trailer', 'trailer--full']) }}>
  {{ title_prefix }}
  <h2 class="trailer__title">{{ label }}</h2>
  {{ title_suffix }}
  {{- content|without('title', 'overview_link') -}}
  {% if content.overview_link %}
    <div class="trailer__backlink">{{ content.overview_link }}</div>
  {% endif %}
</article>
