{#
/**
 * @file
 *
 * Default trailer template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - content: The rendered trailer fields.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass(['trailer', 'trailer--teaser']) }}>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      {{ title_prefix }}
      <h2 class="trailer__title h3">{% if model %}{{ model }}<br/>{% endif %}{{ label }}</h2>
      {{ title_suffix }}
    </div>
    <div class="cell small-12 medium-5 image-column">
      {{ content.field_images }}
    </div>
    <div class="cell small-12 medium-7 facts-column">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-4">
          {{ content.total_weight }}
        </div>
        <div class="cell small-12 medium-8">
          {{ content.internal_dimensions }}
        </div>
        {% if has_inner_height %}
          <div class="cell small-12">
            {{ content.inner_height }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-middle buttons-row">
    <div class="cell medium-7 large-9 show-for-medium"><hr class="trailer__link__deco"/></div>
    <div class="cell small-12 medium-5 large-3 text-right"><a href="{{ url }}" rel="bookmark" class="button button--readmore">zum Anhänger</a></div>
  </div>
</article>
