<div{{ attributes.addClass(['grid-x', 'grid-padding-x', 'small-up-1', 'medium-up-2', 'large-up-3', 'image-gallery']) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass(['cell', 'image-gallery__item']) }}>{{ item.content }}</div>
  {% endfor %}
</div>
