<div{{ attributes.addClass(['grid-x', 'media-gallery', 'small-up-1', 'medium-up-2', 'large-up-3']) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass(['cell', 'media-gallery__item']) }}>{{ item.content }}</div>
  {% endfor %}
</div>
