{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{% if multiple and items|length > 1 %}
  <div{{ attributes.addClass(classes, 'field__items', 'grid-x', 'small-up-1', 'medium-up-2', 'large-up-3', 'image-gallery') }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item', 'cell', 'image-gallery__item') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
{% else %}
  {% for item in items %}
    <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
  {% endfor %}
{% endif %}
