<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-left" id="off-canvas" data-off-canvas data-position="left">
      {{ page.mobile_menu }}
    </div>
    {% include '@unsinn_base_theme/layout/partials/page-header.html.twig' %}
    {% include '@unsinn_base_theme/layout/partials/page-banner.html.twig' %}
    <div class="off-canvas-content" data-off-canvas-content>
      <div id="page">
        {% if has_sidebar %}<div class="grid-container">{% endif %}
          <div class="grid-x{% if has_sidebar %} grid-padding-x{% endif %}">
            {% if has_sidebar %}
            <main id="main-content" class="cell small-12 large-9 small-order-1 large-order-2">
              {% include '@unsinn_base_theme/layout/partials/page-info.html.twig' %}
              {{ page.content }}
            </main>
            <aside id="sidebar" class="sidebar--default cell small-12 large-3 small-order-2 large-order-1">
              <div class="sidebar-content">
                {{ page.sidebar }}
              </div>
            </aside>
            {% else %}
            <main id="main-content" class="cell small-12">
              {% include '@unsinn_base_theme/layout/partials/page-info.html.twig' %}
              {{ page.content }}
            </main>
            {% endif %}
          </div>
          {% if has_sidebar %}</div>{% endif %}
      </div>
    </div>
  </div>
  {% include '@unsinn_base_theme/layout/partials/page-footer.html.twig' %}
</div>
